@import "variables/colors";
@import "variables/values";
@import "variables/fonts";

body {
  padding: 0;
  margin: 0;

  background-color: $color-primary;
}

/* width */
::-webkit-scrollbar {
  width: $s-s;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $top-bar;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bottom-bar;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // width: 100vw;
  // height: 100vh;

  font-family: $font-family-sans-serif;
}

.page {
  background-color: $color-primary;

  width: 100%;
  height: auto;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
}
