$high-enphasis: rgba(255, 255, 255, 0.85);
$medium-enphasis: rgba(255, 255, 255, 0.6);
$disabled: rgba(255, 255, 255, 0.38);


$color-primary: #121212;
$color-secondary: #181818;
$top-bar: #404040;
$bottom-bar: #282828;